node_modules
/iterm2
/yarn
/vim
/tmux/plugins
/zsh
/coc
/configstore
/nvim/autoload
/nvim/plugin
/htop
/Microsoft*
/xbuild
/filezilla
*/secrets
/github-copilot
/GameMakerStudio2
.DS_Store

lazygit/state.yml
lazygit/config.yml
.nuxtrc
StardewValley
gtk-2.0

k9s/config.yml
vue/.vuerc

nvim/lazy-lock.json
karabiner/automatic_backups
karabiner/assets/complex_modifications/1686681782.json
jgit/config
nvim/lua/.luarc.json
