node_modules
/iterm2
/yarn
/vim
/tmux/plugins
/zsh
/coc
/configstore
/nvim/autoload
/nvim/plugin
/htop
.DS_Store

lazygit/state.yml
lazygit/config.yml
.nuxtrc
StardewValley
gtk-2.0

k9s/config.yml
vue/.vuerc